<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Start<ion-icon name="home"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<img src="/assets/logo.png" alt="" text-center height="500" width="400"/>
<ion-content text-center>
      
    <ion-list lines="">
      <ion-item>
        <ion-icon slot="start" color="primary" name="home"></ion-icon>
        <ion-label>Hier ben je nu</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="primary" name="images"></ion-icon>
        <ion-label>In de gallery kan je fotos maken</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="primary" name="bookmarks"></ion-icon>
        <ion-label>Hier kan je etalages opzoeken</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="primary" name="map"></ion-icon>
        <ion-label>Met de kaart kan je etalages vinden</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
